* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/****** Header *******/

.header {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  padding-bottom: 1vh;
  align-items: center;
  background-image: url("./images/News-header.jpg");
  background-size: cover;
  
}

.newspaper-head {
  color: rgb(255, 255, 255);
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8vw;
  font-weight: 500;
  text-transform: uppercase;
}

.logo {
text-decoration: none;
}

.header-one {
  display: flex;
  justify-content: center;
}

#header__image {
  width: 80vw;
  height: auto;
  margin-top: 0vw;
}

.date {
  width: 50vw;
  font-size: 5vw;
  padding-bottom: 1vh;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.search-form {
  width: 50vw;
  height: 5.2vh;
  background-color: 1px solid lightgray;
  padding: 0.5vw;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 38vw;
  height: 4vh;
  border: 1px solid lightgray;
  margin: 0.5vh;
  border-radius: 4vw;
}

.search-button {
  width: 8vw;
  height: 4.1vh;
  border: 1px solid lightgray;
  margin: 0.5vh;
  border-radius: 0.5vw;
}

h5 {
  position: absolute;
  bottom: 1vh;
  left: 39vw;
  font-size: 2vh;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/****** Footer *******/

#footer__image {
  margin-top: 1vh;
  width: 100vw;
  height: auto;
}

.footer {
position: relative;
text-align: center;
color: white;
}

/****** Categories Bar *******/

.main-menu {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  border-top: solid 1vh #cccccc;
  border-bottom: solid 1vh #cccccc;
}

.category-alone{
  font-size: 1.45vh;
  padding: 2vh 2vw;
}

.category-alone:hover {
  background-color: #cccccc;
}

.main-menu a {
  font-size: 3.6vw;
  text-decoration: none;
  text-transform: capitalize;
}

/****** News Home *******/

.all__news {
    width: 100vw;
    height: auto;
    margin: 0vw;
    display: flex;
    flex-direction: column;
}

.news__headlines {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.headlines__image {
  width: 100vw;
  height: auto;
  position: relative;
}

.news__everything__headlines {
  width: 94vw;
  height: auto;
  margin: 3vw;
  font-size: 3vw;
}

.news__everything__headlines a {
  text-decoration: none;
}

.news__desc__head {
  font-size: 2vh;
  margin: 1vh 0vh;
}

.news__author__head {
  color: rgb(94, 94, 185);
}

.news__source__head {
  font-weight: 700;
}

/****** Search Results *******/

.category-upper {
  margin-top: 1vh;
  margin-left: 2vw;
  text-transform: capitalize;
}

time {
  background-color: rgb(94, 94, 185);
  color: white;
  margin-left: 2vw;
  border-radius: 1vw;
  padding: 1vw;
}

.headlines__date {
  margin-top: 4vh;
}

.news-everything a {
  text-decoration: none;
}

.news__title {
  font-size: 8vw;
  padding-bottom: 0.5vw;
  margin: 2vw;
}

.news__desc {
 margin: 2vw;
 font-weight: 300;
}  

.news__author {
 margin-left: 2vw;
 color: rgb(94, 94, 185);
 font-weight: 300;
}

.news__source {
margin-left: 2vw;
font-weight: 500;
}

.news__image {
  margin-top: 1vh;
  width: 100vw;
  height: auto;
}

/****** Details *******/

.details__title {
  margin: 1vh 1vh;
}

.details__desc {
  margin-left: 1vh;
}

.details__author {
  margin-left: 2vw;
  color: rgb(94, 94, 185);
  font-weight: 300;
}

.details a {
  margin-left: 2vw;
font-weight: 500;
}